[Unit]
Description="🪐 Tailscale Updater"
Documentation=https://tailscale.com/

[Service]
Type=simple
ExecStart=/usr/sbin/tailscale-update

[Install]
WantedBy=multi-user.target
