[Unit]
Description="🪐 Tailscale Updater Timer"
Documentation=https://github.com/itsib/tailscale-utils/blob/master/README.md

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Unit=tailscale-update.service

[Install]
WantedBy=multi-user.target
