[Unit]
Description="🪐 Tailscale Updater Service"
Documentation=https://github.com/itsib/tailscale-utils/blob/master/README.md

[Service]
Type=simple
ExecStart=/usr/sbin/tailscale-update

[Install]
WantedBy=multi-user.target
